body {
  font-family: Arial, sans-serif;
  background-image: url(https://wallpapercave.com/wp/wp9764009.jpg);
  background-size: cover;
  text-align: center;
}

h1 {
  color: black;
}

.form-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

form {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
}

h2 {
  margin-top: 0;
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}